body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #0d0d0d;
    color: #590e0e;
  }
  
  .App {
    min-height: 100vh;
  }

  .app-container {
    text-align: center;
    min-height: 100vh;
    background-color: #0d0d0d;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  }